<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3V4D3vWOKoLFi5FPkKkYrxBGoOQQl9w4</string>
	<key>GCM_SENDER_ID</key>
	<string>813865623142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aditQuiz</string>
	<key>PROJECT_ID</key>
	<string>adit-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>adit-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813865623142:ios:9c2b5ed8ea761e360057a7</string>
</dict>
</plist>